.planScreen__plan{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    opacity: 0.8;
}

.planScreen__plan:hover {
    opacity: 1;
}

.planScreen__plan > button {
    padding: 10px 20px;
    font-size: 1rem;
    color: #fff;
    background-color: #e50914;
    font-weight: 600;
    border: none;
    cursor: pointer;
}

.planScreen__plandisabled {
    background-color: gray !important;
}

@media (min-width: 280px) and (max-width: 1024px){
    .planScreen__plan{
        padding:20px 0;
    }

    .planScreen__plan > button{
        padding: 5px;
        margin-left: 10px;
    }
}



